<nav>
  <a href="/logout">Logout</a>
</nav>
<ul>
  <li>Id: {{user._id}}</li>
  <li>Username: {{user.username}}</li>
  <li>Firstname: {{user.firstName}}</li>
  <li>LastName: {{user.lastName}}</li>
  <li>Profession: {{user.Profession}}</li>
</ul>
<p>Bio: {{user.Bio}}</p>
